/* ------------------------------------ */
/*                 CSS                  */
/*         Add your styles here         */
/* ------------------------------------ */
.commander-shade {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.commander-modal {
  top: 50%;
  left: 30%;
  right: 30%;
  position: absolute;
}

.commander-modal .commander-modal-suggestion {
  font-size: medium;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 10px;
  width: fit-content;
  background: url(../../../ui/denim075.png) repeat;
  color: white;
}

.commander-modal .commander-modal-content {
  padding: 5px;
  border-radius: 5px;
  background-image: url(../../../ui/parchment.jpg);
}

.commander-modal .commander-modal-input {
  font-size: large;
  border: none;
  background: none;
}
